@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Madimi One", sans-serif; */
}

.big-pa{
    width: 100%;
    min-height: 110vh;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

}


/* serach bar */
.search-area form{
    position: relative;
    top: 50%;
    left: 10%;
    transform: translate(-40%,20%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.search-area input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}




.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: black;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search-area form:hover{
    width: 300px;
    cursor: pointer;
}

.search-area form:hover input{
    display: block;
}

.search-area form:hover .fa{
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

    color: white;
}


/* add button */
.add-symbol{
    position: absolute;
    left: 330px;
    top: 15px;
    font-size: 30px;
    color:  tomato;
    cursor: pointer;
}
/* whatsapp */





.whatsappSpaceArea{
    margin-top: 20px;
    margin-left: 10px;
        
}

.whatsappSpaceArea::-webkit-scrollbar {
    /* Hide the scrollbar for WebKit browsers (Chrome, Safari, Opera) */
    display: none;
}

.whatsappSpaceArea {
    /* Remove the border property */
    border: none;
}



.my-contact{
    display: flex;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    border-bottom: rgb(224, 224, 224) solid  1px;
    padding: 10px;
    
}

.person-img{
    width: 55px;
    margin-right: 8px;
    transition: all 0.5s;
}


.text .full-name{
color: white;
font-size: 18px;
font-family: "Madimi One", sans-serif;
width: 130px;
overflow: hidden;
text-wrap:nowrap;
}

.text .simple-message{
    color: white;
    font-size: 11px;
    font-family: "Inter", sans-serif;
    width: 200px;
    overflow: hidden;
    text-wrap:nowrap;
    margin-top: -3px;
}


.my-contact .message-time {
color: white;
font-family: "Inter", sans-serif;
width: fit-content;
float: right;
position: relative;
left: 30px;
top: -5px;
font-size: 12px;
}

.my-contact:hover{
    background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}


  .my-contact:hover .message-time,
.my-contact:hover .simple-message,
.my-contact:hover .full-name{
    color: black;
}

.my-contact:hover .person-img{
    width: 59px;
} 




/* display area */
.display-area{
    position: relative;
    top: -455px; /*-384*/
    left: 390px;
    width: 65%;
    height: 78vh; /*65vh*/
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 20px;

}


.banner{
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    width: 100%;
    height: 80px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
}




.image-display{
    position: relative;
    top: 2px;
    object-fit:cover;
    border-radius: 50%;
    border: 3px solid white;
    width: 90px;
    height: 90px;
    margin:0 auto;
    outline-color:  #9e8fb2;
    outline-style: solid;
    outline-width: 2px;
}

.info-name-job{
    display:flex;
    flex-direction:column;
    text-align: center;
    margin-top: 15px;
    font-family: "Mochiy Pop One", sans-serif;

}

.display-name{
color: white;
font-size: 20px;

}
.display-job{
color: white;
font-size: 10px;
}





.info-tele-email{
    margin-top: 50px;
    display: flex;
    justify-content:space-around;
}

.tele-symbol{
    color: lightgreen;
}
.email-symbol{
    color: lightgreen;
}

.display-tele{
color:white;
font-size: 18px;
letter-spacing: 2px;
margin-left: 5px;
}

.display-email{
    color:white;
    font-size: 16px;
    letter-spacing: 2px;
    margin-left: 5px;
}



.info-map{
    text-align: center;
    margin-top: 80px;
}

.map-symbol{
    color: lightgreen;
}
.display-map{
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}




/* pop*********************************************up */

.pop-window{
    display: none;
    margin-top: 50px;
    background-image: repeating-linear-gradient(45deg, rgb(27, 27, 27) 0px, rgb(27, 27, 27) 97px,rgb(24, 24, 24) 97px, rgb(24, 24, 24) 194px,rgb(20, 20, 20) 194px, rgb(20, 20, 20) 291px);
    border-radius: 15px;
    width: 80%;
    height: 80vh;
    /* background-color: tomato; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.camera-symbol{
    font-size: 30px;

}

.circle{
    background-color: #D9D9D9;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-feild{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#imageUpload{
    margin-left: 10px;
    position: relative;
    top: 15px;
}

form{
    text-align: center;
}



.full-name-input input,
.tele-input input,
.Job-input input,
.address-input textarea
{
    /* background: transparent; */
    border: #D9D9D9 solid 1px;
  margin-top: 20px;
  width: 280px;
  height: 40px;
  border-radius: 10px;
}

.div-button input{
    background-image: radial-gradient(circle at 48% 33%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 28% 16%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 34% 52%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 92% 52%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 77% 84%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 75% 64%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 70% 62%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 55% 100%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 12% 11%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 35% 55%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(45deg, rgb(26, 21, 192),rgb(171, 83, 239));
    color: white;
    font-size: 15px;
    border: none;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    transition: all 1s;
    font-family: monospace;
}

.div-button input:hover{
    color: black;
    font-size: 18px;
    background-image: radial-gradient(circle at 23% 61%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 34% 3%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 10% 76%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 20% 80%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 48% 51%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 69% 29%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 34% 68%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 22% 7%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 15% 88%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 14% 20%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(135deg, rgb(212, 14, 0),rgb(235, 212, 64));
}








